<form [formGroup]="detailForm" (ngSubmit)="saveUser()">
  <div class="flex justify-content-center h-screen mt-3">
    <div class="flex-column flex ">
      <div class="surface-0 h-full" style="min-width: 900px;">
        <p-button (onClick)="comeback()" [styleClass]="'absolute'"  icon="pi pi-arrow-left"></p-button>
        <div>
          <h2 class="text-center">Chi tiết tài khoản</h2>
        </div>
        <div class="detail-acc__view flex m-5">
          <div class="detail-acc__view-lable w-3">
            <div class="h-4rem flex align-items-center">Mã người dùng</div>
            <div class="h-4rem flex align-items-center">Tên người dùng</div>
            <div class="h-4rem flex align-items-center">Mật khẩu</div>
            <div class="h-4rem flex align-items-center">Loại người dùng</div>
            <div class="h-4rem flex align-items-center">Ngày tạo</div>
          </div>
          <div class="detail-acc__view-content">
            <div class="h-4rem flex align-items-center">{{user.userId}}</div>
            <div class="h-4rem flex align-items-center">
              <input  class="w-full"
              [class.ng-invalid.ng-dirty]="submitted && f['username'].errors"
              pInputText [(ngModel)]="user.userName" formControlName="username">

            </div>
            <span class="text-red-600" *ngIf="detailForm.get('username')!.hasError('customError')">
              Tên tài khoản đã được sử dụng
            </span>


            <div class="h-4rem flex align-items-center">
              <div class="card flex justify-content-center">
                <p-password class="w-full"
                  styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                  [toggleMask]="true" [feedback]="false"
                  [(ngModel)]="user.password"
                  formControlName="password"
                  [class.ng-invalid.ng-dirty]="submitted && f['password'].errors"
                  ></p-password>
                </div>

              </div>
              <span class="text-red-600" *ngIf="detailForm.get('password')!.hasError('required')">
                Mật khẩu không được để trống
              </span>
            <div class="h-4rem flex align-items-center">
              <p-checkbox  [ngModel]="user.role | userRolePipe:'boolean'" (onclick)="setRole($event)" [binary]="true" inputId="binary" formControlName="role"></p-checkbox><span class="ml-2">Admin</span>
            </div>
            <label class="h-4rem flex align-items-center" for="">{{user.createdDate | date:'dd/mm/yyyy'}}</label>
          </div>
        </div>
        <div class="flex justify-content-center">
          <p-button type="submit">Lưu tài khoản</p-button>
        </div>


      </div>
    </div>
  </div>
</form>
